<!DOCTYPE html>
<html lang="en">
<head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>

    <% for (post of posts){%>
        <div class="post">
            <h3 class="user">@<%= post.username %></h3>
            <h4 class="content"><%= post.content %></h4>
            <br>
            <a id="badge" href="http://localhost:8080/posts/<%=post.id%>">&nbsp; See in detail &nbsp;</a>
            <a id="badge" href="http://localhost:8080/posts/<%=post.id%>/edit">&nbsp; Edit &nbsp;</a>
            <form action="/posts/<%=post.id%>?_method=DELETE" method="post">
            <button id="badge">Delete Post</button>
            </form>
            

        </div>
     <%  } %>

     <br>
     <br>
     <a href="http://localhost:8080/posts/new" class="btn btn-success">Create New Post</a>
</body>
</html>